.link.block a.button {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  align-items: center;
}

.link.block a.button::after {
  content: url("../../icons/link.svg");
  position: relative;
  left: 0.3rem;
  top: 0.05rem;
}

.link.block.arrow a::after {
  content: url("../../icons/angle-right-blue.svg");
  position:relative;
  left: 0.3rem;
  top: 0.5rem;
}

.link.block.no-buttons.blue-arrow a::after {
  content: url("../../icons/link-blue.svg");
  position: relative;
  top: 0.3rem;
}

.link.block.transparent a {
    background: var(--white);
    border: 1px solid var(--link-color);
    color: var(--link-blue-color);
}

.link.block.transparent.left-arrow a::before {
  content: url("../../icons/angle-left-blue.svg");
  position: relative;
  right: 0.3rem;
}

.link.block.transparent.left-arrow a::after {
  content: unset;
}

.link.block.transparent.left-arrow a:hover {
  color: var(--white);
  background-color: var(--link-blue-color);
  border-color: var(--dark-cyan-color);
}