.block.hotspot {
    position: relative;
}

.block.hotspot.right {
   right: -15rem;
   top: 0;
}

.block.hotspot img {
    max-width: 100%;
    width: auto;
    height: auto;
}


.block.hotspot > div:nth-child(n+2) {
    border-radius: 5px;
    background: white;
    position: absolute;
    width: 25vw;
    cursor: pointer;
    content: attr(data);
    padding: 5px;
    font-size: var(--body-font-size-m);
    transition: opacity 0.4s linear;
    z-index: +1;
    color: var(--primary);
}

@media (min-width: 62rem) {
    .block.hotspot {
        position: absolute;
    }

    .block.hotspot > div:nth-child(n+2) {
        width: 7vw
    }
}


